<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/robertjchristian/angular-enterprise-seed" class="alert alert-link"><span><img
                        ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
            </div>

            <div class="page-header">
                <h1>Angular Enterprise Seed</h1>
                <h2>An AngularJS seed for serious web apps.</h2>
            </div>
            <div>

                <p>This project is meant to serve as a more substantial starting point for professional web applications. It integrates AngularJS with projects like Angular-UI, Angular-Strap, Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and filters. Click sign in above to see additional features, or browse the widgets...</p>

            </div>


            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>