<h3>Exploring SF evictions.</h3>
<h4>Ask questions. View the answers. Ask follow up questions.</h4>
<hr style="margin-bottom: 2em;">
<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h3>Question: </h3>
			<form>
				<select class="form-control" ng-model="selectedQuestion">
					<option selected="selected" value = "1">Who owns the property at a particular address?</option>
					<option value = "2">What properties does someone own?</option>
				</select>
			</form>
			<br>
			<!--div class="ng-include: 'playground/'+ selectedQuestion"></div -->
			<div ng-show="selectedQuestion == 1" class="input-group">
				<span class="input-group-addon">Street Address</span>
				<input type="text" class="form-control">
				<span ng-click="mainQuestion(1)" class="input-group-addon"><i class="glyphicon glyphicon-search glyphicon-white"></i></span>
			</div>
			<div ng-show="selectedQuestion == 2" class="input-group">
				<span class="input-group-addon">Owner Name</span>
				<input type="text" class="form-control">
				<span ng-click="mainQuestion(2)" class="input-group-addon"><i class="glyphicon glyphicon-search glyphicon-white"></i></span>
			</div>
		</div>
	</div>
</div>
<div>
</div>
<hr style="margin-bottom: 2em;">
<div class="container">
    <div class="row">
        <div class="col-xs-3">
           <h3>Answers</h3>
           <div class="list-group">
           		<a class="list-group-item" ng-repeat="i in answeredQuestions">{{i.label}}</a>
           </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
        	<h3>View</h3>
        </div>
    </div>
</div>