<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/robertjchristian/angular-enterprise-seed" class="alert alert-link"><span><img
                        ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">Original Seed</span></a>
            </div>

            <div class="page-header">
                <h1>Anti-Displacement UI Sketchpad</h1>
                <h2>An AngularJS seed for narrating SF housing displacement.</h2>
            </div>
            <div>

                <p>This project is a space to explore ways to communicate the complex issues surrounding the SF housing displacement issue. Here can can look at and explore several ways of exploring the graph database, helping people develope and answer their own questions.</p>
                <p>This site is server agnostic, porting to any context should be feasible</p>

            </div>


            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>